[Unit]
Description=Start psplash boot splash screen
DefaultDependencies=no
RequiresMountsFor=/run
ConditionFileIsExecutable=/usr/bin/psplash

[Service]
Type=notify
ExecStart=/usr/bin/psplash  -a 90 -f 0
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
